body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

input, select {
  margin-top: 6px;
  margin-bottom: 10px;
  width: 100%;
  padding: 4px;
  font-size: 14px;
}
